**/Debug/**
**/Release/**
**/Preview/**
**/.vs/**
**/enc_temp_folder/**

**/*.pdb
**/*.bsc
**/*.pid
**/*.eix
**/*.epk
**/*.a
**/*.b
**/*.idx
**/*.pack
**/*.err
**/*.exe

VERSION.txt

**/PTS.txt
**/stdout
**/log.txt
**/syslog.txt
**/syserr.txt
**/p2p_packet_info.txt
**/usage.txt
**/packet_info.txt
saphira-mysql/data/ib_logfile1

saphira-client/*.lib
saphira-client/*.exp
saphira-client/*.exe
!saphira-client/config.exe
saphira-server-source/bin/**/*.exe
!.EterPackConsole.exe

**/syslog.*.*

saphira-server-source/bin/share/quest/object/*


saphira-mysql/data/ibdata1
saphira-mysql/data/ib_logfile0

**/*.o

!saphira-tools/*

!**/extern/**

saphira-server-source/bin/*/log
saphira-server-source/bin/*/share
saphira-server-source/bin/ch_*/core_*/data
saphira-server-source/bin/ch_*/core_*/log
saphira-server-source/bin/ch_*/core_*/share
saphira-server-source/bin/ch_*/data
saphira-server-source/bin/common/auth_**/log
saphira-server-source/bin/common/db/log

!saphira-server-source/bin/share/quest/qc**

!saphira-mysql/bin/*.*
GitHub Saphira.lnk
saphira-client2/
